<launch>
    <!--在机器人上启动，使用假的传感器信息-->
    <param name="robot_id" type="int" value="$(env ROBOT_ID)" />
    <node pkg="multi_robot_sl" type="fake_wind_sensor" name="fake_wind_sensor" />
    <node pkg="multi_robot_sl" type="fake_alco_sensor" name="fake_alco_sensor" />
    <node pkg="multi_robot_sl" type="fake_robot_msgs_pub" name="fake_robot_msgs_pub" output="screen"/>
</launch>