<launch>
    <param name="robot_id" type="int" value="$(env ROBOT_ID)" />
    <node pkg="multi_robot_sl" type="wind_sensor" name="wind_sensor" />
    <node pkg="multi_robot_sl" type="fake_alco_sensor" name="fake_alco_sensor" />
    <node pkg="multi_robot_sl" type="robot_msgs_pub" name="robot_msgs_pub" output="screen"/>
</launch>